@use 'assets/styles/abstracts/colors';

.todo-new-input {
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  color: colors.$fg-secondary;
  transition: color 150ms linear;
  &:focus {
    color: colors.$fg-main;
  }
}
input::placeholder {
  transform: translateY(2em);
}
