.text-field {
  background-color: gray;
  padding: 0.5em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  .text-field-indicator {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: 1px solid hsla(0deg, 20%, 10%, 60%); // TODO: inject colors
    background: blue; // TODO: inject color
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    svg {
      height: 100%;
      width: 100%;
      position: relative;
      top: 4px;
      left: 3px;
    }
  }
}
