@use 'assets/styles/abstracts/colors';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans';
}

.App {
  background: colors.$bg-main;
  transition: all 200ms linear;
  font-size: 1.125rem;
  overflow-y: scroll;
  height: 100vh;
  color: colors.$fg-secondary;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: colors.$fg-secondary;
  transition: color 150ms linear;
  font-size: 1rem;
  &:hover {
    color: colors.$fg-main;
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  max-width: 65ch;
}

.background {
  width: 100%;
  height: 23vh;
  z-index: -1;
  isolation: isolate;
}
header {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-between;
  color: colors.$fg-header;
  h1 {
    letter-spacing: 0.3em;
  }
}

@media only screen and (max-width: 480px) {
  .App[data-theme='light'] {
    .background {
      background-image: url(../../assets/images/bg-mobile-light.jpg);
    }
  }
  .App[data-theme='dark'] {
    .background {
      background-image: url(../../assets/images/bg-mobile-dark.jpg);
    }
  }
}
@media only screen and (min-width: 481px) {
  .App[data-theme='light'] {
    .background {
      background-image: url(../../assets/images/bg-desktop-light.jpg);
    }
  }
  .App[data-theme='dark'] {
    .background {
      background-image: url(../../assets/images/bg-desktop-dark.jpg);
    }
  }
}
