@use 'assets/styles/abstracts/colors';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: colors.$bg-main;
  transition: all 200ms linear;
  font-size: 1.125rem;
  overflow-y: scroll;
  height: 100vh;
  font-family: 'Josefin Sans';
}

button {
  cursor: pointer;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 480px) {
  .wrapper {
    padding: 0 1rem;
  }
  .background {
    width: 100%;
    height: 23vh;
    z-index: -1;
    isolation: isolate;
    img {
      height: 100%;
    }
  }
  header {
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;
    color: colors.$fg-header;
    h1 {
      letter-spacing: 0.3em;
    }
  }
}
@media only screen and (min-width: 481px) {
  .App[data-theme='dark'] {
    header {
      background-image: url(../../assets/images/bg-desktop-dark.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .App[data-theme='light'] {
    header {
      background-image: url(../../assets/images/bg-desktop-light.jpg);
    }
  }
}
