.App[data-theme='light'] {
  --bg-main: hsl(0, 0%, 98%);
  --bg-secondary: white;
  /* --Very-Light-Grayish-Blue: hsl(236, 33%, 92%); */
  --separator: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  /* --Dark-Grayish-Blue: hsl(236, 9%, 61%); */
  --fg-secondary: hsl(236, 9%, 61%);
  /* --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%); */
  --fg-main: hsl(235, 19%, 35%);
}

.App[data-theme='dark'] {
  --bg-main: hsl(235, 21%, 11%);
  --bg-secondary: hsl(235, 24%, 19%);
  --fg-main: hsl(234, 39%, 85%);
  --fg-secondary: hsl(234, 11%, 52%);
  /* --Light-Grayish-Blue-Hover: hsl(236, 33%, 92%); */
  /* --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%); */
  /* --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%); */
  --separator: hsl(237, 14%, 26%);
}

$bg-main: var(--bg-main);
$bg-secondary: var(--bg-secondary);
$fg-main: var(--fg-main);
$fg-secondary: var(--fg-secondary);
$separator: var(--separator);
