@use 'assets/styles/abstracts/colors';
#todo-app {
  .todo-new {
    margin-bottom: 1em;
    border-bottom-color: transparent !important;
    border-radius: 5px;
    overflow: hidden;
    .text-field {
      border-bottom: none;
    }
  }
  .todo-list {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: colors.$boxShadow;
  }
}
